*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #175375;
}

span{
    color: #eef9ff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}
p{
    color: #eef9ff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* margin-top: 10px; */
}

form > div:nth-child(1){
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 50px;
}
form > div:nth-child(2){
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}
#principalamount, #interestamount, #inflationrate{
    background-color: #5285a3;
    color: #eef9ff;
    border: 1px transparent;
    border-radius: 5px;
    width: 250px;
    outline: none;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#principalamount::placeholder, #interestamount::placeholder, #inflationrate::placeholder{
    color: #dddddd;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#actualincome{
    width: 200px;
    padding: 20px 20px;
    border: 1px transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: #0e3044;
    color: #eef9ff;
    outline: none;
}
#actualincome:hover{
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    cursor: pointer;
}
#actualincome:disabled{
    background-color: #283e4b;
    color: #bdbdbd;
    box-shadow: none;
    transition: all 0.2s;
    cursor: default;
}
form > div:nth-child(3){
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}
#output{
    color: #eef9ff;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    padding: 12px;
    justify-self: center;
}
